certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
contourpy==1.4.0
cryptography==50.0.2
cycler==0.12.1
docutils==0.23
fonttools==4.66.1
Fraction==2.2.0
id==1.6.1
idna==3.20
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
jeepney==0.9.0
keyring==25.7.0
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplot==0.1.9
matplotlib==3.11.2
mdurl==0.1.2
more-itertools==11.1.0
nh3==0.3.7
numpy==2.5.3
packaging==26.3
pillow==12.3.0
pycparser==3.0
Pygments==2.21.0
pyloco==0.0.139
pyparsing==3.3.3
python-dateutil==2.9.0.post0
readme_renderer==46.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
SecretStorage==3.5.0
SimpleWebSocketServer==0.1.2
six==1.17.0
twine==7.0.0
typing==3.7.4.3
urllib3==2.8.0
ushlex==0.99.1
websocket-client==1.9.2
